{% extends '/base.html' %}

{% block header %}<h1>Konfiguration</h1>{% endblock %}

{% block content %}
    <div class="main">
        <div class="forma">
            <form action="/config" method="post">
                <ul class="wrapper">
                    <li class="form-row">
                        <label for="latitude">Latitude</label>
                        <input type="text" id="latitude" name="latitude">
                    </li>
                    <li class="form-row">
                        <label for="longitude">Longitude</label>
                        <input type="text" id="longitude" name="longitude">
                    </li>
                    <li class="form-row">
                        <label for="winkel">Neigungswinkel der Module</label>
                        <input type="text" id="winkel" name="winkel">
                    </li>
                    <li class="form-row">
                        <label for="kwp">Leistung der PV-Anlage in kWp</label>
                        <input type="text" id="kwp" name="kwp">
                    </li>
                    <li class="form-row">
                        <label for="azimuth">Azimuthwinkel vom Gebäude</label>
                        <input type="text" id="azimuth" name="azimuth">
                    </li>
                    <li class="form-row">
                        <label for="modbus_host">Modbus-host</label>
                        <input type="text" id="modbus_host" name="modbus_host">
                    </li>
                    <li class="form-row">
                        <label for="modbus_port">Modbus-port</label>
                        <input type="text" id="modbus_port" name="modbus_port">
                    </li>
                    <li class="form-row">
                        <button type="submit" onclick="alert('Daten wurden in der Configdatei gespeichert!')">Speichern</button>
                    </li>
                    <li class="form-row">
                        <button type="reset">Reset</button>
                    </li>
                </ul>
            </form>
        </div>
    </div>
{% endblock %}


</body>
</html>