{% extends '/base.html' %}

{% block header %}<h1>Energiemanagementsystem</h1>{% endblock %}


{% block content %}

    <div class="chart-box">
        <div class="chart1">
            <canvas id="chart-awattar" id="chart-awattar" height="100vh"></canvas>
        </div>
        <div class="chart2">
            <canvas id="solar-chart id="solar-chart" height="100vh"></canvas>
        </div>
    </div>
    <div class="status-box">
        <div class="kachel-row">
            <div class="kachel-card">
                <div class="pv" id="pv">PV</div>
            </div>
            <div class="kachel-card">
                <div class="from-grid" id="bezug">from-Grid</div>
            </div>
            <div class="kachel-card">
                <div class="to-grid" id="einspeisung">to-Grid</div>
            </div>
            <div class="kachel-card">
                <div class="hous-consumption">Consumption</div>
            </div>
            <div class="kachel-card">
                <div class="battery-level">Battery</div>
            </div>
        </div>
    </div>
    <div class="datepicker">
        <form id="dateForm">
            <label for="start_date">Start:</label>
            <input type="datetime-local" id="start_date" name="start_date">

            <label for="end_date">Ende:</label>
            <input type="datetime-local" id="end_date" name="end_date">

            <button type="submit">Zeitbereich aktualisieren</button>
        </form>
    </div>
    <div class="main_chart">
        <canvas class="myChart" id="myChart" height="100vh"></canvas>
    </div>




    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/chart.js/dist/Chart.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/3.7.0/chart.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>

    <script src="static\javascript\chart_bar_awattar.js"></script>
    <script src="static\javascript\chart_bar_solar.js"></script>
    <script src="static\javascript\bar_chart_influxdb.js"></script>
    <script src="static\javascript\bar_chart_influxdb_var_time.js"></script>
    <script src="static\javascript\live_data.js"></script>



{% endblock %}


</body>
</html>